
<div th:replace="~{fragments/header :: header}"></div>

<h2>Author Details</h2>
<h3>[[${author.name}]]</h3>
<p>
  <span th:text="${#temporals.format(author.birthDate, 'yyyy.MM.dd')}"></span>
  - <span th:text="${#temporals.format(author.deathDate, 'yyyy.MM.dd')}"></span>
</p>

<section>
  <h3>Books</h3>
  <ul th:if="${books.size() > 0}">
    <li th:each="book : ${books}">
      <a th:href="${book.url}" th:text="${book.title}"></a>
    </li>
  </ul>
  
  <p th:unless="${books.size() > 0}">
    No books
  </p>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
